.container
    background-size: 100vw 100vh
    max-width 500px
    height 500px
    margin: auto

.formulario
    max-width 500px
    margin: auto
    

#RecuperarCon
    text-align: center
    margin-top: 20px
    background-color: #D5F5E3
    color: #239B56


.btn    
    width: 50%
    margin-top: 15px