.container
    width 45%
    height 500px

.formulario
    padding: 40px

button 
    margin-left 28%

#RecuperarCon
    text-align: center
    margin-top: 20px
    background-color: #D5F5E3
    color: #239B56


.btn    
    width: 50%
    margin-top: 15px