.container
    background-size: 100vw 100vh
    max-width 500px
    height 500px
    margin: auto

.formulario
    max-width 500px
    margin: auto


.btn    
    max-width: 150px
    margin-top: 15px