<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item carousel-multi-item-2" data-ride="carousel">

  <!--Controls-->
    <div class="controls-top">
      <a class="black-text" href="#multi-item-example" data-slide="prev"> <<<  </a>
      <a class="black-text" href="#multi-item-example" data-slide="next"> >>> </a>
    </div>
    <!--/.Controls-->
  
    <!--Slides--> 
    <div class="carousel-inner" role="listbox">
  
      <!--First slide-->
      <div class="carousel-item active">
  
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" src="https://res.cloudinary.com/yeison-ortiz/image/upload/v1588385843/oswaldo_ac_u5tsmv.jpg"
              alt="Card image cap">
          </div>
        </div>
  
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" src="https://res.cloudinary.com/yeison-ortiz/image/upload/v1588385842/deisy_ac_m1nr0l.jpg"
              alt="Card image cap">
          </div>
        </div>
  
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" src="https://res.cloudinary.com/yeison-ortiz/image/upload/c_scale,h_640,w_960/v1588385842/propietari2_ji0mec.jpg"
              alt="Card image cap">
          </div>
        </div>
  
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" src="https://res.cloudinary.com/yeison-ortiz/image/upload/c_scale,h_640,w_960/v1588385842/propietari2_ji0mec.jpg"
              alt="Card image cap">
          </div>
        </div>
  
      </div>
      <!--/.First slide-->
  
      <!--Second slide-->
      <div class="carousel-item">
  
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" src="https://res.cloudinary.com/yeison-ortiz/image/upload/c_scale,h_640,w_960/v1587875638/finca10_mjt4b1.jpg"
              alt="Card image cap">
          </div>
        </div>
  
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" src="https://res.cloudinary.com/yeison-ortiz/image/upload/c_scale,h_640,w_960/v1587875638/finca16_uvuffe.jpg"
              alt="Card image cap">
          </div>
        </div>
  
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" src="https://res.cloudinary.com/yeison-ortiz/image/upload/c_scale,h_640,w_960/v1588385888/WhatsApp_Image_2020-05-01_at_7.26.30_AM_pz6fdo.jpg"
              alt="Card image cap">
          </div>
        </div>
  
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" src="https://res.cloudinary.com/yeison-ortiz/image/upload/v1588385843/oswaldo_ac_u5tsmv.jpg"
              alt="Card image cap">
          </div>
        </div>
  
      </div>
      <!--/.Second slide-->
  
      <!--Third slide-->
      <div class="carousel-item">
  
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" src="https://res.cloudinary.com/yeison-ortiz/image/upload/v1588385842/deisy_ac_m1nr0l.jpg"
              alt="Card image cap">
          </div>
        </div>
  
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" src="https://res.cloudinary.com/yeison-ortiz/image/upload/c_scale,h_640,w_960/v1588385842/propietari2_ji0mec.jpg"
              alt="Card image cap">
          </div>
        </div>
  
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" src="https://res.cloudinary.com/yeison-ortiz/image/upload/c_scale,h_640,w_960/v1587875638/finca18_thpend.jpg"
              alt="Card image cap">
          </div>
        </div>
  
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" src="https://res.cloudinary.com/yeison-ortiz/image/upload/c_scale,h_640,w_960/v1588385842/propietario_e26mr3.jpg"
              alt="Card image cap">
          </div>
        </div>
  
      </div>
      <!--/.Third slide-->
  
    </div>
    <!--/.Slides-->
  
  </div>
  <!--/.Carousel Wrapper-->