
<nav class="navbar navbar-expand-lg " id="nav" >
    <a class="navbar-brand font-italic" [routerLink]="['/home']">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

         
        <li class="nav-item " routerLinkActive="active" >
          <a class="nav-link" [routerLink]="['/home']" >Inicio</a>
        </li>    
   
        <li class="nav-item " routerLinkActive="active" >
          <a class="nav-link" [routerLink]="['/about']" >Acerca de Nosotros...</a>
        </li>  
 
        <li class="nav-item " routerLinkActive="active" >
          <a class="nav-link" [routerLink]="['/orders']" >Servicios de restaurante</a>
        </li> 

        <li class="nav-item " routerLinkActive="active" >
          <a class="nav-link" [routerLink]="['/glamping']" >Glamping</a>
        </li> 

      </ul>



    </div>


    <form >
      <ul class="navbar-nav mr-auto" *ngIf="user$ | async as user; else login"> 

        <li>
          <a class="nav-link" > {{user?.email }}  </a>
        </li>  

        <li>
          <button id="salir" type="button" class="btn btn-outline-primary"  (click)="onLogout()"  *ngIf="user">Salir</button>
        </li>   

      </ul>


      <ng-template #login>

        <ul class="navbar-nav mr-auto">

          <li>
            <button id="ingresar" type="button" class="btn btn-outline-primary" [routerLink]="['/login']" >Acceder</button>
          </li>  

        </ul>

      </ng-template>

    </form>

  


  </nav>


  