<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item carousel-multi-item-2" data-ride="carousel">

    <!--Controls-->
    <div class="controls-top">
      <a class="black-text" href="#multi-item-example" data-slide="prev"><i class="fas fa-angle-left fa-3x pr-3"></i></a>
      <a class="black-text" href="#multi-item-example" data-slide="next"><i class="fas fa-angle-right fa-3x pl-3"></i></a>
    </div>
    <!--/.Controls-->
  
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
  
      <!--First slide-->
      <div class="carousel-item active">
  
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" src="https://res.cloudinary.com/yeison-ortiz/image/upload/c_scale,h_640,w_960/v1588385888/WhatsApp_Image_2020-04-30_at_9.30.01_PM_a4noy5.jpg"
              alt="Card image cap">
          </div>
        </div>
  
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" src="https://res.cloudinary.com/yeison-ortiz/image/upload/c_scale,h_640,w_960/v1588385888/WhatsApp_Image_2020-04-30_at_9.30.02_PM_szoi1z.jpg"
              alt="Card image cap">
          </div>
        </div>
  
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" src="https://res.cloudinary.com/yeison-ortiz/image/upload/c_scale,h_640,w_960/v1588385888/WhatsApp_Image_2020-04-30_at_9.40.15_PM_cgcutr.jpg"
              alt="Card image cap">
          </div>
        </div>
  
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" src="https://res.cloudinary.com/yeison-ortiz/image/upload/c_scale,h_640,w_960/v1588385888/WhatsApp_Image_2020-04-30_at_9.42.42_PM_tlbfiw.jpg"
              alt="Card image cap">
          </div>
        </div>
  
      </div>
      <!--/.First slide-->
  
      <!--Second slide-->
      <div class="carousel-item">
  
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(53).jpg"
              alt="Card image cap">
          </div>
        </div>
  
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(25).jpg"
              alt="Card image cap">
          </div>
        </div>
  
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(47).jpg"
              alt="Card image cap">
          </div>
        </div>
  
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(26).jpg"
              alt="Card image cap">
          </div>
        </div>
  
      </div>
      <!--/.Second slide-->
  
      <!--Third slide-->
      <div class="carousel-item">
  
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(64).jpg"
              alt="Card image cap">
          </div>
        </div>
  
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(51).jpg"
              alt="Card image cap">
          </div>
        </div>
  
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(59).jpg"
              alt="Card image cap">
          </div>
        </div>
  
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(63).jpg"
              alt="Card image cap">
          </div>
        </div>
  
      </div>
      <!--/.Third slide-->
  
    </div>
    <!--/.Slides-->
  
  </div>
  <!--/.Carousel Wrapper-->


  <br>
  <br>

  <div>
    
    <h4 class="text-center">Domicilios</h4>  

    <p>
      Debido a la actual crisis que se presenta en el mundo, se han tomado varias medidas para reducir el indice de contagio, por esta razon hemos 
      tomado la decisión de seguir atendiendo al publico los fines de semana con domicilios, se ofrece platos como sancocho de gallina, carne a la llanera y 
      mojarra frita o sudada 
    </p>

  </div>

  

  <p>Para domicilios al 314-2266519</p>
  <button type="button" class="btn btn-success" [routerLink]="['/order']">Hacer pedido</button>

  <div class="card-deck text-info " >

    <div class="card border-success mb-3 ">
      <img class="card-img-top" src="https://res.cloudinary.com/yeison-ortiz/image/upload/c_scale,h_640,w_960/v1588385888/WhatsApp_Image_2020-04-30_at_9.30.02_PM_szoi1z.jpg" alt="Card image cap">
      <div class="card-body" id="menu">
        <h5 class="card-title">Sancocho de gallina</h5>
        <p class="card-text">Sancocho de gallina con un cuarto de presa </p>
        <p class="card-text lead text-center" > <b> Valor: 12.000 </b>  </p>
      </div>
    </div>

    <div class="card border-success mb-3 ">
      <img class="card-img-top" src="https://res.cloudinary.com/yeison-ortiz/image/upload/c_scale,h_640,w_960/v1588385888/WhatsApp_Image_2020-04-30_at_9.40.15_PM_cgcutr.jpg" alt="Card image cap">
      <div class="card-body " id="menu">
        <h5 class="card-title">Mojarra frita</h5>
        <p class="card-text"> Mojarra frita con arroz, papa frita, ensalada, patacona </p>
        <p class="card-text lead text-center" > <b> Valor: 16.000 </b>  </p>
      </div>
    </div>
    <div class="card border-success mb-3 " >
      <img class="card-img-top" src="https://res.cloudinary.com/yeison-ortiz/image/upload/c_scale,h_640,w_960/v1588385888/WhatsApp_Image_2020-04-30_at_9.42.42_PM_tlbfiw.jpg" alt="Card image cap">
      <div class="card-body " id="menu">
        <h5 class="card-title">Mojarra sudada</h5>
        <p class="card-text">Mojarra frita con arroz, papa frita, ensalada, patacona</p>
        <p class="card-text lead text-center" > <b> Valor: 16.000 </b>  </p>
      </div>
    </div>
    <div class="card border-success mb-3 " >
      <img class="card-img-top" src="https://res.cloudinary.com/yeison-ortiz/image/upload/c_scale,h_640,w_960/v1588385888/WhatsApp_Image_2020-04-30_at_9.42.42_PM_tlbfiw.jpg" alt="Card image cap">
      <div class="card-body  " id="menu">
        <h5 class="card-title">Carne a la llanera</h5>
        <p class="card-text"> Carne a la llanera con papa, yuca y platano asado </p>
        <p class="card-text lead text-center" > <b> Valor: 16.000 </b>  </p>
      </div>
    </div>
  </div>



