<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-2" data-slide-to="1"></li>
      <li data-target="#carousel-example-2" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">

          <img class="d-block w-100" src="https://res.cloudinary.com/yeison-ortiz/image/upload/v1587875638/finca8_wiqriv.jpg" alt="First slide">
          <!-- <div class="mask rgba-black-light"></div> -->

        <div class="carousel-caption">
          <h3 class="h3-responsive">Recreación</h3>
          <p>Piscina</p>
        </div>

      </div>
      <div class="carousel-item">
        <!--Mask color-->

            <img class="d-block w-100" src="https://res.cloudinary.com/yeison-ortiz/image/upload/v1587875638/finca3_hi92r8.jpg" alt="Second slide">
          <!-- <div class="mask rgba-black-light"></div> -->


        <div class="carousel-caption">
          <h3 class="h3-responsive">Restaurante</h3>
          <p>Natural</p>
        </div>

      </div>

      <div class="carousel-item">
        <!--Mask color-->

          <img class=" w-100" src="https://res.cloudinary.com/yeison-ortiz/image/upload/c_scale,h_540,w_960/v1576363214/finca11_x5bp8z.jpg" alt="Third slide">
          <!-- <div class="mask rgba-black-light"></div> -->

        <div class="carousel-caption">
          <h3 class="h3-responsive">Vista</h3>
          <p>Piedemonte Llanero</p>
        </div>
      </div>

    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
  </div>
  <!--/.Carousel Wrapper-->



<div class="card text" >

    <div class="card-body" >
        <p>Piscina Natural Piedemonte Llanero es un sitio para disfrutar en familia, cuante con una espectacular piscina con agua natural, Restaurante el cual ofrece sancocho de gallina,
            carne al horno así mismo platos a la carta tales como mojarra frita o sudada, bagre en salsa entre otros</p>
    </div>

</div>

